<!DOCTYPE html>
<html>
  <head>
    <title>Demo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-no-turbolink': 'reload' %>
    <%= javascript_include_tag 'application', 'data-no-turbolink': 'reload' %>
    
  </head>

  <body>
    <%= yield %>
  </body>
</html>
